<div class="container">
  <div class="row" id="content_alone">
    <div class="col-sm-6  col-md-6 col-md-offset-2" id="zone_alone">
      <div>
        <h3 class="text-capitalize"></h3>
        <h3 class="text"><%= @questions.content %></h3>
      </div>
      <h3>Reponse :</h3>
      <% @questions.answers.each do | answer | %>
        <div>
          <p><%= answer.content  %></p>
        </div>
      <% end %>
      <h3>Partagez sur : </h3>
      <%= social_share_button_tag(@questions.content, 'data-twitter-title' => 'TheTitleForTwitter') %>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="zone_hadith">
          <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="title_category">
            <h3 > Catégories</h3>
          </div>
            <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="list_category">
            <% Category.all.each do |category| %>
             <li class="link-category"><%= link_to category.name,category_path(category: category.name) %></li>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
