<div class="container">
  <div class="row" >
    <div class="text-center">
      <h1 class="construction">A propos</h1>
    </div>

    <div class="row">
      <div class="jumbotron">
        <p>
          Darulifta.re est un centre spécialisé dans la législation islamique. Son origine et ses activités remontent au début des années 2000 lorsque fut créé le C.F.C.I
          (Cellule de Fiqh du Centre Islamique de la Réunion). La synergie des compétences et la convergence des avis qui motivaient son fonctionnement au départ n’a cessé de s’agrandir
          avec l’arrivée de forces vives partageant les mêmes valeurs. Cette évolution s'accompagne de changements considérables en matière de communication moderne (notamment par le smartphone et ses applications,
           offrant une accessibilité sans limite aux réseaux sociaux), entrainant une demande croissante d’informations en provenance des fidèles de tous horizons. Le besoin inéluctable d’élargir notre plateforme d’échanges a abouti au renouvellement de notre site sous une forme plus fonctionnelle.
          <br> <br>
          Le Centre rassemble des savants en sciences et en jurisprudence islamiques, diplômés des universités internationales prestigieuses et reconnues. Ils appartiennent au courant des "ahlous-sounnah wal djamâ’ah". Ils sont soutenus par une équipe spécialisée dans différents domaines de sciences tels l’économie, la médecine, les sciences, les technologies etc. <br> <br>
Pour les questions nécessitant une expertise juridique plus approfondie et un effort de idjtihâd supplémentaire, le Centre est en contact et se repose sur les centres de fatâwa des universités de formation des imams et théologiens internationaux et reconnus, notamment ceux d'Angleterre, d'Afrique du Sud, de l'Inde, du Pakistan et aussi du monde Arabe.


        <div class="text-center">
          <h1 class="construction">Notre Vision</h1>
        </div>
        Le Centre s’attache à développer une meilleure connaissance religieuse afin de vivre pleinement et sereinement l’islam dans le respect de son environnement et des lois de son pays, et en toute conformité aux textes sacrés, interprétés selon l’orthodoxie et l’éthique musulmane, face aux défis du monde contemporain. Nous nous efforçons ainsi à trouverune réponse toujours fidèle aux sources bien évidemment, mais également adaptée au contexte, ayant pour objectif d’assurer au musulman et à la musulmane une pratiquesereine, simple et apaisée de sa religion, en pleine quiétude avec ses convictions et sa relation avec son Seigneur.

        <div class="text-center">
          <h1 class="construction">Nos objectifs</h1>
        </div>
        <h4>Les objectifs suivants orientent les activités du centre :</h4>
        <ul>
          <li>	Rechercher le contentement divin en assumant nos
            responsabilités de serviteurs d’Allah.
          </li>
          <li>	Etre à l’écoute des besoins spirituels, cultuels et culturels
             de la communauté musulmane.
           </li>
           <li>
              	Répondre à ces besoins en conciliant les textes fondateurs authentiques
                 et le contexte du monde moderne.
           </li>

           <li>
             	Présenter une compréhension saine et correcte de l’islam.
           </li>
           <li>
             	Dissiper les amalgames et la déformation médiatique contraire
              au vrai message de l’islam.
           </li>

           <li>
             Développer la propagation des branches du savoir islamique
           </li>
           <li>
             	Promouvoir la pratique de la connaissance islamique.
           </li>
           <li>
             	Servir les intérêts humanitaires et éthiques de l’islam sur le long terme.
           </li>
        </ul>

        <br>
        <div class="text-center">
          <h1 class="construction">Notre Méthodologie</h1>
        </div> <br>

        <h4>Le centre adopte la méthodologie suivante dans ses travaux :</h4>
        <ul>
          <li>
            	Une compréhension et une analyse critique de l’islam à travers le Coran,
              les traditions prophétiques et la vie des compagnons (as).
          </li>

          <li>
          	   Une réflexion inspirée des principes et des règles établis par les savants
               fondateurs des écoles de pensée et les savants précurseurs dans l’interprétation des textes.
          </li>

          <li>
            Une veille cognitive et synthétique des avis des savants de diverses traditions
             islamiques et des sciences non religieuses.
          </li>
        </ul>

        <br>
        <div class="text-center">
          <h1 class="construction">Nos activités</h1>
        </div> <br>

        <h4>Le centre cible la communauté musulmane dans son ensemble, ainsi que la communauté non musulmane au travers de ses différentes activités :
</h4>
        <ul>
          <li>
            	Etudes et recherches
          </li>
          <li>
            	Produire et diffuser tout support servant nos objectifs.
          </li>
          <li>
              Organisation de conférences, séminaires…
          </li>
          <li>	Enseignement et formation.

          </li>
        </ul>

        <br>
        <div class="text-center">
          <h1 class="construction">Les membres du centre</h1>
        </div> <br>
        <ul>
          <li>Moufti Chakil OMARJEE -Paris France- (diplômé du Darul-UloomKantharia - Inde)
          </li>
          <li>
            Moufti Fayzal VALY -St Pierre Réunion- (diplômé du DarulUloomZakariyya - Afrique du Sud)

          </li>
          <li>
            Moufti Housman OMARJEE -St Pierre Réunion- (diplômé du DarulUloomArabiaIslamia - Azaadville - Afrique du Sud)

          </li>

          <li>Moufti Louqman INGAR -St Denis Réunion (diplômé du DarulUloomArabiaIslamia - Azaadville - Afrique du Sud)
</li>
        <li>Moufti Ridwan DESSAI -St Joseph. Réunion- (diplômé du DarulUloomArabiaIslamia - Azaadville - et DaroulouloumZakariyya. Afrique du Sud)
</li>
      <li>
        Moufti Shokat Ali LIMBADA -St-Paul Réunion- (diplômé du DarulUloomZakariyya, Afrique du Sud)

      </li>

      <li>
          Moufti Yahya RAVATE -St Denis Réunion- (diplômé de Falah e Darain- Tadkeswar- Inde)
      </li>
      <li>
        Moufti Yassine GANGAT -St Denis Réunion- (diplômé du DarulUloom al-Arabiya al-Islamiya Bury Angleterre)

      </li>
      <li>
        Mawlâna Ataoullah INGAR -St Denis Réunion- (diplômé du Darululoom al-Arabiya al-Islamiya - Bury Angleterre)

      </li>
      <li>Mawlâna Bilâl GANGAT -St Pierre Réunion- (diplômé du DarulUloomArabiaIslamia - Azaadville - Afrique du Sud)

      </li>
      <li>Mawlâna Djamil OMARJEE -St Pierre Réunion- (diplômé de FalaheDarain- Tadkeswar- Inde)

      </li>

      <li>Mawlâna Imdadoullah PATEL -St Pierre Réunion- (diplômé de l'université islamique de Madinah al Mounawwarah Arabie Saoudite)

      </li>

      <li>
        Mawlâna Issac GANGAT -St Pierre Réunion- (diplômé de JameahHusainiyah -Rander Surat- Inde)

      </li>

      <li>
        Mawlâna Mohammad PATEL -Paris France- (diplôme du DarulUloomZakariyya- Afrique du Sud)

      </li>
      <li>
        Mawlâna Mujahid SAUMTALLY -Saint-Louis Réunion- (diplômé du DarulUloomArabiaIslamia - Azaadville - Afrique du Sud)

      </li>

      <li>Mawlâna Ridwan OMARJEE -St Pierre Réunion- (diplômé de FalaheDarain- Tadkeswar- Inde)

      </li>
      <li>
        Mawlâna Salim MOREEA -St Pierre Réunion- (diplômé du DarulUloomZakariyya - Afrique du Sud)

      </li>
        </ul>

        </p>
      </div>

    </div>
  </div>
</div>
