<!DOCTYPE html>
<html>
  <head>
   <meta name="language" content="fr-FR" />
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
 </head>
 <body>
    <div class="container">
     <div class="row">
      <div class="col-md-8">
        <h4>Assalamou aleykoum wa rahmatoullahi wa barakattoullahi</h4>
        <br> <br>
        <h4>Vous avez posé une question : </h4>
        <h4> <%= @question.content %></h4>
         <br><br>
        <h4>Voici la réponse à votre réponse posé :</h4>
        <p><%= raw @answer.content  %></p>
        <%= link_to "Lien vers votre question", question_url(@question) %>
      </div>
     </div>
    </div>
  </body>
</html>
