<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Question : <%= @question.content %></h1>
    <p>
      new answer : <%= @answer.content %>
    </p>
  </body>
</html>