
  <div class="container">
   <div class="row">
    <div class="col-md-4">
      <h4>Assalamou aleykoum wa rahmatoullahi wa barakatoullahi</h4>
      <br>

      <h4>Voici la question que vous avez posée:</h4>
      <h4>Question : <%= @question.content %></h4>
      <br>

      <h4>La réponse :</h4>
      <h4> <%= @answer.content %></h4>

      <br>
      <h4>Assalamou aleykoum wa rahmatoullahi wa barakatoullahi</h4>

   </div>
 </div>
</div>
