<div class="container">
 <div class="row" id="content_alone">
    <div class="col-sm-6  col-md-8" id="zone_alone">
      <div>
       <h4 class="question_title">Question posée</h4>

       <h3 class="#"><%= @answer.question.content %></h3>
      </div>
      <!--zone qui affiche la réponse -->
      <h3>Reponse :</h3>
        <div>
          <%=  raw @answer.content  %>
        </div>
    </div>
    </div>
  </div>
