<div class="container">
 <div class="row">
  <div class="col-md-8">
    <h4>Assalamou aleykoum wa rahmatoullahi wa barakatoullahi</h4>
    <br>
    <h1>La question ci-dessous, après validation est public et consultable sur le site:  <!--lien site web--><br>
       <%= @question.content %>
    </h1>
  </div>
 </div>
</div>
