<div class="container">
 <div class="row">
  <div class="col-md-8">
    <h4>Assalamou aleykoum wa rahmatoullahi wa barakatoullahi</h4>
    <br>
    <h3>Une nouvelle question vient d'arriver sur le site <br>
        Question : <%= @question.content %> <br>
        Cette question a été posée par <%= @user.email %>
    </h3>
    <br>
      <h3> Voici la réponse  : <%= @answer.content %></h3>

  </div>
</div>
</div>
