<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New validation by  : <%= @admin.email %></h1>
    <p>
      answer : <%= @answer.content %>
    </p>
  </body>
</html>