<!DOCTYPE html>
<html>
  <head>
   <meta name="language" content="fr-FR" />
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
 </head>
 <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h4>Assalamou aleykoum wa rahmatoullahi wa barakattoullahi</h4> <br>
          <h3>Nouvelle validation de réponse par <%= @admin.email %>, à la question <br>
            <%= @question.content %>
          </h3>
          <p>
            Voici la réponse : <%= raw @answer.content %>
          </p>h
          <%= link_to "voir ma réponse", answer_path(@answer) %>
        </div>
      </div>
    </div>
  </body>
</html>
