<!DOCTYPE html>
<html>
  <head>
   <meta name="language" content="fr-FR" />
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
 </head>
 <body>
    <div class="container">
     <div class="row">
      <div class="col-md-8">
      <h4>Assalamou aleykoum wa rahmatoullahi wa barakattoullahi</h4>
      <br> <br>
      <h4>Une nouvelle réponse :</h4>
      <p><%= @answer.content.html_safe %></p>
      <p>Lien vers votre question </p>
      <%= link_to "voir ma réponse", question_url(@answer.question) %>
      </div>
     </div>
    </div>
</body>
</html>
