<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salam, </h1> <br>
    <h1>La question ci-dessous, après validation est public et consultable sur le site:  <!--lien site web--><br>
       <%= @question.content %>
     </h1>

  </body>
</html>
