<!DOCTYPE html>
<html>
  <head>
   <meta name="language" content="fr-FR" />
   <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
 </head>
 <body>
  <div class="container">
   <div class="row">
    <div class="col-md-8">
      <h4>Assalamou aleykoum wa rahmatoullahi wa barakattoullahi</h4>
      <br> <br>
      <h4>La question ci-dessous, après validation est
        public et consultable sur le site: </h4>
        <a href="https://daroul-ifta.herokuapp.com/"></a>
      <h4> <%= @question.content %></h4>
    </div>
   </div>
  </div>
</body>
</html>
