<div class="container">
 <div class="row">
  <div class="col-md-8">
    <h4>Assalamou aleykoum wa rahmatoullahi wa barakatoullahi</h4>

    <br>
    <h3>Nouvelle validation de réponse par <%= @admin.email %>, à la question <br>
      <%= @question.content %>
     </h3>
    <h4>
      Voici la réponse : <%= @answer.content %>
    </h4>
  </div>
</div>
</div>
