<div class="container-fluid">
 <div class="row ">
  <div class="col-md-6 col-md-offset-3" id="error">
    <br>
    <center>

     <h1 class="error">OH NON ! </h1>
     <h3> La page que vous demandez n'est pas ici ! <br> Code erreur : 404 </h3>
     <h3> Pour retourner à l'accueil c'est ici  <%= link_to "Accueil", root_path %></h3>
     </center>

  </div>

 </div>
</div>
