@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

ul.nav.navbar-nav
{
  padding-top: 30px;
}



@media screen and (min-width:768px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
        background-color: #eee;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
img.navbar-brand.navbar-brand-centered
{
  margin-top: 5px;
  height: 100px;
  width: 100px;
}
