@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default {
    background-color: #f7f7f7;
    border-color: #fff;
}

ul.nav.navbar-nav
{
  padding-top: 30px;
}
img.navbar-brand.navbar-brand-centered
{
  margin-top: 5px;
  height: 100px;
  width: 100px;
}
/*search */
form.form-inline
{
    margin-top: 9px;
    margin-right: 5px;
}
input.form-control.mr-sm-2
{
    height: 45px;
    min-width: 300px;
}
.btn.btn-primary.my-2.my-sm-0
{
  height: 45px;
}
.link-category
{
  list-style-type: none;
}
/*page home */
.bd-masthead
{
    padding-bottom: 40px;
    background-color: #fff;
}
#home.row
{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
#zone_hadith
{
  border-style: solid;
  margin-bottom: 3px;
  border-radius: 3% 3% 3% 3%;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
}
#zone_info
{
  border-style: solid;
  margin-bottom: 3px;
  border-radius: 3% 3% 3% 3%;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;

}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid red;
}
hr.entre
{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid black;
}
.input-group .form-control
{
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height: 50px;
  border-color: #337ab7;
}
.input-group-addon:last-child {
    border-left: 0;
    background-color: #337ab7;
    border-color: #337ab7;
}

.rounded-circle {
    border-radius: 50%!important;
}
.index-link
{
    margin-top: 40px;
    background-color:#337ab7;
    height: 150px;
}
a.link_footer
{
    color: #fff;
    font-weight: 300;
    font-size: 18px;
}
.copy-c
{
  font-size: 23px;
  background-color:#337ab7;
}
.btn.btn-danger.navbar-btn.btn-lg, .btn.btn-default.navbar-btn.btn-lg
{
  margin-right: 10px;
}
h4.answer_content
{
    font-weight: 300;
}
