<section class="index-link">
  <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
                 <h3 class="link_footer"><%= link_to 'Qui sommes-nous ?', apropos_path, :class => 'link_footer'%></li></h3>
             </div>
             <div class="col-md-4">
                  <h3 class="link_footer"><%= link_to 'FAQ ',faq_path, :class => 'link_footer'%></li></h3>
              </div>
              <div class="col-md-4">
                   <h3 class="link_footer"><%= link_to 'Accueil',root_path, :class => 'link_footer' %></li></h3>
               </div>
          </div>
        </div>
  <section class="index-social">
    <div class="container">
    <div class="row index-social-link text-center">
        <p class="copy-c">Daroul-ifta 2018.</p>
    </div>
    </div>
  </section>
  </footer>
</section>
