<footer class="page-footer font-small mdb-color lighten-3 pt-4 mt-4">
<div class="container text-center text-md-left">
<div class="row my-4">

<!--First column-->
<div class="col-md- col-lg-4">
<h5 class="text-uppercase mb-4 font-weight-bold">Mission</h5>


<p>Le Centre a pour objectif d’apporter des réponses simples
 et concises à vos interrogations sur l’Islam en général et
  sur le droit musulman en particulier.
Vous y trouverez des avis juridiques mais aussi
 des conseils pratiques et des orientations éthiques en rapport
 avec l’ensemble des aspects de la vie du croyant et de la croyante,
 que ce soit dans sa relation avec Son Créateur que dans
 son rapport avec ceux et celles qui l’entourent.</P>


</div>
<!--/.First column-->



<!--Second column-->
<div class="col-md-2 col-lg-2 ml-auto">
<h5 class="text-uppercase mb-4 font-weight-bold">A PROPOS</h5>
<ul class="list-unstyled">
<p>
  <%= link_to 'Accueil', root_path %>
</p>
<p>
  <%= link_to 'Qui sommes-nous ?', apropos_path%>
</p>
<p>
  <%= link_to 'Faq ', faq_path%>
</p>
<p>
  <a href="mailto:biblioruncontact@gmail.com">Contactez-nous</a>
</p>
</ul>
</div>
<!--/.Second column-->



<!--Third column-->
<div class="col-md-4 col-lg-4">
<h5 class="text-uppercase mb-4 font-weight-bold">Adresse</h5>
<!--Info-->
<p>
<i class="fa fa-home mr-3"></i> Saintt-Pierre, Lîle de la Reunion </p>
<p>
<i class="fa fa-envelope mr-3"></i> info@example.com</p>
<p>
<i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
<p>
<i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
</div>
<!--/.Third column-->
<!--Fourth column-->
<div class="col-md-2 col-lg-2 text-center">
<h5 class="text-uppercase mb-4 font-weight-bold">Nous suivre sur</h5>
<!--Social buttons-->
<div class="mt-2">
<!--Facebook-->
<a type="button" class="btn-floating btn-small btn-fb"  href="https://twitter.com/jrkinouani">
  <i class="fa fa-facebook"></i>
</a>
<!--Twitter-->
<a type="button" class="btn-floating btn-small btn-tw" href="https://twitter.com/jrkinouani">
  <i class="fa fa-twitter"></i>
</a>

</div>
</div>
<!--/.Fourth column-->

</div>
</div>
<!--/.Footer Links-->

<!--Copyright-->
  <div class="footer-copyright py-3 text-center">
  © 2018 Copyright:
  <a href="https://mdbootstrap.com/material-design-for-bootstrap/">Daroul-ifta 2018. </a>
  </div>
<!--/.Copyright-->

</footer>
<!--/.Footer-->
<!--<section class="index-link">
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="link_footer"><%= link_to 'Qui sommes-nous ?', apropos_path, :class => 'link_footer'%></li></h3>
        </div>
    <section class="index-social">
      <div class="container">
        <div class="row index-social-link text-center">
          <p class="copy-c">Daroul-ifta 2018.</p>
        </div>
      </div>
    </section>
  </footer>
</section>-->
